# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
atlassian-ide-plugin.xml

# Eclipse
.classpath
.project
.settings/
.metadata/

# Output
*.class
target/
Maven_by_Example/
*.log

#Application tmp and created
*.pdf
nbactions.xml
